.Statistics {}

.Statistics form {
    background-color: teal;
    /* width: 90%; */
    /* margin: auto; */
    display: flex;
    justify-content: center;
}

.Statistics form .group {
    margin-right: 5%;
}

.Statistics .tick text {
    margin-right: 10px;
    font-size: 14px;
}