.exitAccount {
  width: 120px;
  height: 40px;
  border: 1px solid black;
  outline: none;
  border-radius: 10px;
  background-color: transparent;
  transition: .7s;
}

.exitAccount:hover {
  background-color: #e6e0e0;
}