.admin {
  width: 100%;
}

.admin div.grid-container {
  width: 98%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.admin div.grid-item {
  text-align: center;
  min-height: 80px;
  border: 2px solid #a10808;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin div.grid-item a {
  text-decoration: none;
  color: black;
}

div.grid-item a button {}