.homeAccount{
    position: relative;
}
.clientHome {
    position: relative;
}

.client {
    max-width: 1200px;
    margin: auto;
}
/* 
.exitAccount {
    position: absolute;
    top: 2%;
    right: 2%;
} */

#businessPhoto {
    width: 100%;
    height: 400px;
}

#businessLogo {
    position: absolute;
    bottom: 2%;
    right: 2%;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

.client .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    display: -ms-grid;
    -ms-grid-columns: repeat(3, 1fr);
}

.client div.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 6px !important;
    font-size: 30px;
    text-align: center;
}

.client button.MuiButton-outlinedPrimary {
    color: black;
    border: 3px solid rgb(160, 26, 26);
    height: 15vh;
}

footer {
    margin-top: 10%;
    text-align: center;
}

.grid-item button {
    width: 100%;
}

.client button.MuiButton-outlinedPrimary {
    outline: none;
}

.client button.MuiButton-outlinedPrimary .icon {
    width: 40px !important;
}

.client button.MuiButton-outlinedPrimary .icon {
    font-size: 40px;
}

.client .grid-item .MuiButton-label {
    display: block !important;
}