.weeklyClient table {
    caption-side: bottom;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.weeklyClient .days th {
    padding: 7px 0 !important;
}

.weeklyClient .days th {
    background-color: brown;
    font-weight: 500;
    font-size: medium;
    border-left: 1px solid #802424;
}

.weeklyClient .dm {
    font-weight: 100;
    margin: 0;
}

.weeklyClient .times {
    padding: 0 5px !important;
    /* font-weight: 100; */
    font-size: medium !important;
    border-bottom: none;
}

.weeklyClient .time {
    margin: 10px 0 0 0;
    background: #b2dab2;
    border-radius: 40px;
    font-weight: 100;
    font-size: medium !important;
    padding: 2px 18px;
    cursor: pointer;
}

.weeklyClient .time:hover {
    background: #78ca78;
}

.weeklyClient .catch {
    margin: 10px 0 0 0;
    background: #b1848488;
    border-radius: 40px;
}

.weeklyClient table td:last-of-type {
    border-left: none;
}

.weeklyClient .workers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weeklyClient .workers .singleWorker {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 5px;
    background-color: teal;
    text-align: center;
}

.weeklyClient .workers .singleWorker p{
    margin-top: 20%;
}