.futureTurn{
    margin-top: 10px;
    text-align: center;
}

.futureTurn table{
    border: 3px solid brown;
    width: 80%;
    margin: 25px auto;
    text-align: center;
    box-shadow: 8px 5px 11px 0px #7b4848;
}

button .MuiButton{
    margin-left: 5px;
}